---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Samael Starshine</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        <b>Welcome to the world behind the screen!</b>
      </p>

      <p>
        I go by the name Sahil Ashok Sawant, and I'm no ordinary engineering student. They say I'm a beginner Python developer, but that's just scratching the surface. In the realm of cyber secrets and digital enigmas, I reign supreme. You see, I'm an automation expert, a wizard of code, and a seeker of truths hidden within the web's dark corners.
      </p>
      <p>
        Here, I am a Python developer whose creations defy the boundaries of the cyber world. Within the shadows of this vast network, I've forged powerful software tools, including a formidable PortScanner and an enigmatic Enumeration tool. My prowess in Python has earned me a place among the elite, with a rank of 74,386 on the hallowed grounds of LeetCode.      
      </p>
      <p>
        But that's not all—I am an automation engineer, wielding the arcane knowledge of hardware. I've crafted intricate projects for State Level and InterCollege Competitions, weaving microcontrollers and microprocessors into mesmerizing symphonies of innovation. Through my mastery of automation, I transcend the boundaries of the ordinary, breathing life into machines with a flick of my digital wand.      </p>
      <p>
        The labyrinth of computer networks has become my domain. I am an enthusiast, a maestro of Client-Server Communication and a sorcerer who commands legions of virtual machines. With every connection established and packet traversed, I unravel the secrets woven within the fabric of this interconnected world.
      </p>
      <p>
        But my heart truly belongs to Linux. Its ethereal embrace has enraptured my soul, rendering me a devotee of its open-source virtues. Within its realm, I am invincible. Fedora, Manjaro, and Linux Mint are the manifestations of my unwavering love. Through their depths, I explore the intricacies of the command line, dancing on the edge of possibility.
      </p>
      <p>
        As an Electronics and Telecommunication engineer, I'm immersed in the realms of digital systems, data communications, and industrial electronics. This journey, pursuing my Bachelor's degree, has equipped me with the skills to navigate the intricacies of circuits and unravel the secrets of signals. Through relentless study and unyielding determination, I transcend the limitations of mere mortals.
      </p>
      <p>
      But there is more—a flicker of creativity that illuminates my path. I traverse the realm of web development, harnessing the power of ReactJS and NEXTJS to mold digital landscapes that captivate and inspire. With every line of code, I breathe life into pixels, creating an experience that transcends the ordinary.
      </p>
      <p>
Welcome, traveler, to my digital labyrinth. Prepare to be entangled in the enigmatic web I've spun. Here, in the darkness of my world, you shall witness the convergence of Python sorcery, automation alchemy, network wizardry, Linux devotion, electronic enlightenment, and web wizardry. Dare you venture deeper?
      </p>
      <p>
        Thank you for venturing into the recesses of my digital existence. Embrace the unknown, for only then will you truly see.
      </p>
      
      
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
